@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    img {
        margin-bottom: 1rem;
    }
    .icon-black img{
        filter: brightness(0);
    }
    #vertical{
        writing-mode: vertical-lr;
    }

}